* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 1rem;
}


#container{
    height: 100vh;
    background-color: #6ab187;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    font-weight: 900;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.define{
    color: aliceblue;
    text-decoration: underline;
}

